	body {
	margin:0;
	padding:0;
	color:#000;
	background:#009933;
	}

	#container{
	width:100%;
	margin:0 auto;
	}

	#header {
	background-color:#009933;
	height:5%;
	}

	#menu {
	background-color:#00ff90;
	height:92%;
	width:15%;
	float:left;
	}

	#content {
	background-color:#EEEEEE;
	height:92%;
	width:85%;
	float:left;
	}

	#footer {
	background-color:#009933;
	clear:both;
	height:3%;
	text-align:center;
	}

	h1{
	margin:0;
	}
	
	ul {
	padding-left:25px;
	}
#txtCountry {
    border-radius: 0px;
    background: #e6ffff;
    color: #212121;
    border: 1px solid #454545
}
#txtCountry:hover {
    background: #e6ffff;
    cursor: pointer;
}
#txtCountry:active {
    box-shadow: 0 0 30px #b3ffff
}
.ui-tooltip {
    background: #e6ffff;
    color: #b3ffff;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 
}
.ui-autocomplete {
    background: #e6ffff;
    border-radius: 0px;
}
.ui-autocomplete.source:hover {
    background: #e6ffff;
}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
font-size:8px;}